ion-toolbar {
    --background: #264653;
    // --background: #E9C46A;
    // --background: #2A9D8F;
    // --background: #F4A261;
    // --background: #E76F51;
    --color: white;
}

ion-avatar {
    width: 44px;
    height: 44px;
    margin: 8px 8px 8px 0;
}