<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-item *ngFor="let menuItem of menus" [routerLink]="[menuItem.route]" (click)="menu.close()">
          <ion-icon [name]="menuItem.icon" slot="start"></ion-icon>
          <ion-label>{{ menuItem.label }}</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My pets</ion-title>
        <ion-avatar slot="end" class="ion-margin">
          <img src="./../assets/img/cat.png" alt="">
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>

</ion-app>